ALWAYS_REZ = YES
ARCHS = $(NATIVE_ARCH)
BIB_THROW = BIB_NO_THROW
BUILT_APPLICATION_DIR = ../$(TARGET_NAME)/packagefolder/contents/macos/
CONFIGURATION_BUILD_DIR = $(BUILT_PRODUCTS_DIR)
DEBUG_INFORMATION_FORMAT = dwarf
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = YES
GCC_ENABLE_SYMBOL_SEPARATION = YES
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
GCC_INPUT_FILETYPE = sourcecode.cpp.cpp
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = ../../../source/precomp/gcc/PluginPrefix.pch
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) MACINTOSH $(BIB_THROW)
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_THREADSAFE_STATICS = NO
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_INHIBIT_ALL_WARNINGS = NO
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = NO
GCC_WARN_SHADOW = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = NO
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = NO
HEADER_SEARCH_PATHS = /Developer/Headers/FlatCarbon ../../../external/asl/boost_libraries/ ../../../external/afl/includes ../../../source/precomp/common ../../../source/precomp/msvc ../../../source/public/includes ../../../source/public/interfaces/architecture ../../../source/public/includes/utils ../../../source/public/interfaces/utils ../../../source/public/interfaces/xmedia ../../../source/public/libs/widgetbin/includes
IC_CREATOR = "InCp"
ID_APPLICATION_TYPE = "APPL"
ID_CREATOR = "InDn"
ID_DIR = $(SRCROOT)/../$(TARGET_NAME)
ID_FUTURE_VERSION_DIR = $(SRCROOT)/../$(TARGET_NAME)/packagefolder/contents/macos/future version
ID_PLUGIN_OPTIONAL_TYPE = "InDa"
ID_PLUGIN_REQUIRED_TYPE = "InDr"
ID_PLUGIN_SDK_TYPE = "InD3"
ID_PLUGINS_DIR = $(SRCROOT)/../$(TARGET_NAME)/plug-ins
ID_REQUIRED_DIR = $(SRCROOT)/../$(TARGET_NAME)/packagefolder/contents/macos/required
ID_SDK_DIR = $(SRCROOT)/../$(TARGET_NAME)/SDK
ID_TESTING_DIR = $(SRCROOT)/../$(TARGET_NAME)/packagefolder/contents/macos/testing
INSTALL_PATH = ./
MACOSX_DEPLOYMENT_TARGET_i386 = 10.4
MACOSX_DEPLOYMENT_TARGET_ppc = 10.4
ONLY_LINK_ESSENTIAL_SYMBOLS = YES
OTHER_LDFLAGS = -Wl,-executable_path -Wl,$(BUILT_APPLICATION_DIR)
PER_ARCH_CFLAGS_i386 = -DMACTEL_SKIP
PLC_GENERATE_PKGINFO_FILE = YES
PLC_INCLUDES = $(REZ_SEARCH_PATHS)
PLC_OUTPUT_CREATOR = InDn
PLC_OUTPUT_TYPE = ????
PREBINDING = NO
REZ_SEARCH_PATHS = ../../../external/palettes ../../../external/workflow icons
SCAN_ALL_SOURCE_FILES_FOR_INCLUDES = YES
SDKROOT = /Developer/SDKs/MacOSX10.4u.sdk
SHARED_PRECOMPS_DIR = build/SharedPrecompiledHeaders/$(TARGET_NAME)
TARGET_BUILD_DIR = $(BUILT_PRODUCTS_DIR)
WARNING_CFLAGS = -Wchar-subscripts -Wimplicit -Wsequence-point -Winit-self -Wmissing-field-initializers -Wpointer-arith -Wcast-align -Wpacked
WRAPPER_EXTENSION = InDesignPlugin

