FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS) ../debug/packagefolder/contents/macos ../debug/packagefolder/contents/Frameworks
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = $(GCC_PREPROCESSOR_DEFINITIONS) DEBUG
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) ../debug/packagefolder/contents/macos/libs
OTHER_REZFLAGS = -d __GNUC__ -d DEBUG -d MACINTOSH
