DEAD_CODE_STRIPPING = YES
FRAMEWORK_SEARCH_PATHS = $(FRAMEWORK_SEARCH_PATHS) ../release/packagefolder/contents/macos ../release/packagefolder/contents/Frameworks
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_OPTIMIZATION_LEVEL = 3
LIBRARY_SEARCH_PATHS = $(LIBRARY_SEARCH_PATHS) ../release/packagefolder/contents/macos/libs
OTHER_REZFLAGS = -d __GNUC__ -d MACINTOSH
PRESERVE_DEAD_CODE_INITS_AND_TERMS = YES
GCC_MODEL_TUNING = G5
